/* Blog */
#blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h3, h4 {
      text-align: center;
    }
    h3 {
      font-size: 26px;
      margin: 30px;
    }
    article {
      margin: 15px;
    }
    img {
      width: 100%;
      max-width: 280px;
      border-radius: 10px;
    }  
  }