/* Info */
#info {
    text-align: center;
    padding: 20px;
    .contenedor {
      background: #333;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 10px;
    }
  }

/*_* Mixin *-*/

@mixin tamanio ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

  .info-film {
    margin: 10px;
    transition: 1s;
    img {
      @include tamanio (290px, 170px);
      border-radius: 5%;
      border: 5px solid rgb(199, 199, 199);
      display: block;
    }
    h4 {
      position: relative;
      margin-top: 1%;
      margin-left: 1%;
      align-items: center;
      color: rgb(255, 255, 255);
    }
  }

  .info-film:hover {
    transform: scale(1.5);
    z-index: 2;
    cursor: pointer;
    img {
      border: 1px solid black;
    }
    h4 {
      color: rgba(51, 51, 51, 0);
    }
  }
  
  #info h3 {
    font-size: 36px;
    margin: 30px;
  }
  