/* Impport */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Silkscreen&display=swap");
*,
*:before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
}

body {
  line-height: 1.317101995;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  font-family: "Silkscreen", cursive;
  background-color: #ffffff;
}

.entrada h1 {
  margin-left: 2%;
}

button:focus {
  outline: 0;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/*-*- Maps -*-*/
.content {
  background: linear-gradient(to right, rgb(63, 0, 165), rgb(95, 0, 59));
  font-family: "Kanit", sans-serif;
  font-family: "Silkscreen", cursive;
}

/*-*- EXTENDS -*-*/
.link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #dddddd;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto 48px;
  z-index: 0;
  transition: all 450ms ease;
}
.link::after, .link::before {
  content: "";
  display: block;
  position: absolute;
  transition: width 540ms, opacity 300ms ease;
}

/* LINK 1 */
.link--1 {
  padding: 0 6px;
}
.link--1::before, .link--1::after {
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 0.1em;
  width: 0;
}
.link--1::before {
  left: 0;
}
.link--1::after {
  background-color: #ff29ad;
  right: 0;
}
.link--1:hover {
  color: #ff29ad;
}
.link--1:hover::before {
  width: 60%;
  transition: width 250ms ease;
  background-color: #ff29ad;
}
.link--1:hover::after {
  width: 100%;
  background-color: transparent;
}

/* LINK 2 */
.link--2::before, .link--2::after {
  height: 0.1em;
  bottom: -1px;
}
.link--2::before {
  width: 0;
  background-color: #ff2626;
}
.link--2::after {
  width: 100%;
  border: 1px solid #ff2626;
  border-top: 0;
  opacity: 0;
}
.link--2:hover {
  color: #ff2626;
}
.link--2:hover::before {
  width: 0;
  animation: width 1500ms ease forwards;
}
.link--2:hover::after {
  opacity: 1;
}

@keyframes width {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}
/* LINK 3 */
.link--3 {
  height: 56px;
  width: 164px;
  display: grid;
  place-items: center;
}
.link--3-b-tr, .link--3-b-bl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.link--3-b-tr::before, .link--3-b-tr::after, .link--3-b-bl::before, .link--3-b-bl::after {
  content: "";
  position: absolute;
  background-color: #2428ff;
  transition: all 400ms ease-in-out;
}
.link--3-b-tr::before {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
}
.link--3-b-tr::after {
  right: 0;
  top: 0;
  height: 0;
  width: 1px;
}
.link--3-b-bl::before {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
}
.link--3-b-bl::after {
  left: 0;
  bottom: 0;
  height: 0;
  width: 1px;
}
.link--3:hover {
  color: #2428ff;
}
.link--3:hover .link--3-b-tr::before,
.link--3:hover .link--3-b-bl::before {
  width: 100%;
}
.link--3:hover .link--3-b-tr::after,
.link--3:hover .link--3-b-bl::after {
  height: 100%;
}

/* LINK 4 */
.link--4::before {
  content: attr(data);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #ff00f2;
  z-index: 1;
  overflow: hidden;
  text-shadow: 0 0 2px #ff00f2;
  transition: all 480ms ease-in-out;
}
.link--4:hover::before {
  width: 100%;
}

/* LINK 5 */
.link--5::before {
  content: attr(data);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #4ed84a;
  z-index: 1;
  overflow: hidden;
  text-shadow: 0 0 2px #4ed84a;
  transition: all 480ms ease-in-out;
}
.link--5:hover::before {
  width: 100%;
}

/*-* Responsive *-*/
/* Mobile */
@media only screen and (max-width: 481px) {
  h4 {
    position: fixed;
    margin-top: 100%;
    font-size: 10px;
    font-style: normal;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .link {
    color: #dddddd;
    font-size: 20px;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  h4 {
    position: fixed;
    margin-top: 100%;
    font-size: 12px;
    font-style: normal;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .link {
    color: #dddddd;
    font-size: 23px;
  }
}
/* Desktop */
@media only screen and (min-width: 979px) {
  h4 {
    position: fixed;
    margin-top: 48%;
    margin-left: 80%;
    font-size: 14px;
    font-style: normal;
    font-family: "Kanit", sans-serif;
    font-family: "Silkscreen", cursive;
  }
}
/* Menu */
#menu-bar {
  display: none;
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a {
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Banner */
#banner {
  margin-top: 50px;
  position: relative;
}
#banner img {
  width: 100%;
  height: 100%;
}
#banner .contenedor {
  position: absolute;
  top: -350%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
}
#banner h2 {
  font-size: 28px;
}
#banner a {
  display: block;
  width: 100px;
  color: #fff;
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid #fff;
}
#banner a:hover {
  background: rgba(51, 51, 51, 0.5);
}

#bienvenidos {
  text-align: center;
  margin: 30px;
}
#bienvenidos p {
  margin: 30px;
}

/* Blog */
#blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#blog h3, #blog h4 {
  text-align: center;
}
#blog h3 {
  font-size: 26px;
  margin: 30px;
}
#blog article {
  margin: 15px;
}
#blog img {
  width: 100%;
  max-width: 280px;
}

/* Info */
#info {
  text-align: center;
  padding: 20px;
}
#info .contenedor {
  background: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

/*_* Mixin *-*/
.info-film {
  margin: 20px;
}
.info-film img {
  width: 270px;
  height: 180px;
  border-radius: 10%;
  border: 5px solid rgb(199, 199, 199);
}

#info h3 {
  font-size: 36px;
  margin: 30px;
}

/* Footer */
footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
}

.copy {
  font-size: 20px;
}

.sociales {
  width: 100%;
  text-align: center;
  font-size: 28px;
}
.sociales a {
  color: #333;
  text-decoration: none;
}

.icon-facebook {
  color: #333;
}

.icon-twitter {
  color: #333;
}

.icon-instagram {
  color: #333;
}

.icon-googleplus {
  color: #333;
}

/* Formulario de Contacto */
.contacto-main {
  margin-top: 100px;
}
.contacto-main h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #1f1f1f;
  color: #fff;
  padding: 20px;
}
#boton :hover {
  cursor: pointer;
}

.contacto-footer {
  margin-top: 18%;
}

/* Slider automatico */
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* Responsive */
@media (min-width: 1024px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }
  .menu a {
    border: none;
  }
  header label {
    display: none;
  }
  form {
    width: 450px;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  form {
    width: 450px;
  }
}
@media (max-width: 480px) {
  #banner h2 {
    font-size: 40px;
  }
  #banner a {
    margin-top: 25px;
  }
  form {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(207, 207, 207);
  display: block;
}

header {
  width: 100%;
  height: 50px;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.contenedor {
  width: 98%;
  margin: auto;
}

h1 {
  float: left;
}

header .contenedor {
  display: table;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

/* mapa */
.mapa {
  width: 100%;
}

/*# sourceMappingURL=estilos.css.map */

/*# sourceMappingURL=estilos.css.map */
